#home-image {
  width: 500px;
  animation: jump 3s infinite 0s, appear 2s ease-in 0s;
  padding-bottom:150px;
}
.home-main-page{
  align-items: center;
  justify-content: center;
  
  display: flex;
  flex:2;
}
.main-homeimage{
  flex:1;
  z-index:-1;
  justify-content: center;
  align-items: center;
  margin-top:300px;
}
.home-page{
  margin-top:130px;
  flex:1;
  
}
#heading-first{
  font-size: 45px;
  animation: appear 2s ease-in 0s;
  
}
#diff-color{
  color: rgb(130, 124, 124);
}
#info{
  font-size: 15px;
  animation: appear 3.5s ease-in 0s;
  padding-top: 30px;
}
#home-btn{
  width:200px;
  height:30px;
  margin-top:30px;
  border:none;
  border-radius: 10px;
  color:rgb(255, 251, 251);
  background-color: rgb(33, 33, 33);
  transition:transform 0.5s ease-in-out 0s;
  animation: appear 4s ease-in 0s;
  justify-content: center;
  align-items: center;
}
#home-btn:hover{
  transform:translateY(-10%);
  box-shadow: 4px 0px 5px 0px rgb(102, 102, 102);
}

@keyframes jump{
  0% {
    transform:translateY(-4%);
  }
  50% {
    transform:translateY(0);
  }
  100%{
    transform:translateY(-4%);
  }
}

@keyframes appear {
  0%{
    opacity:0;
  }
  50%{
    opacity:0.5;
  }
  100%{
    opacity:1;
  }
}